.main {
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: 40% 60%;
  height: var(--navbar-height);
  color: var(--light-text);
}
.logo {
  height: clamp(40px, 3vw, 60px);
}
.headText {
  margin: 0;
  font-weight: 500;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: clamp(0.6rem, 1vw, 1.3rem);
}
.head,
.links {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.head {
  border-right: 1px solid darkgray;
}
.links > h3 {
  cursor: pointer;
}
.links > h3:hover {
  opacity: 0.7;
}

.menuIcon {
  display: none;
}
.dropLinks {
  display: none;
}

@media screen and (max-width: 676px) {
  .main {
    grid-template-columns: 90% 10%;
  }
  .menuIcon {
    display: block;
    margin: auto;
  }
  .head {
    justify-content: flex-start;
  }
  .logo {
    margin: 0 20px;
  }
  .links {
    display: none;
  }

  .dropLinks {
    display: flex;
    position: absolute;
    top: var(--navbar-height);
    width: 150px;
    border-bottom-left-radius: 15px;

    right: 0.5vw;
    z-index: 999999999;
    flex-direction: column;
    background-color: var(--light-background);
    align-items: center;
  }
  .dropLinks > h3 {
    margin: 2vw;
    padding: 2vw;
  }
}
