.main {
  background-color: var(--navbar);
  display: grid;
  grid-template-columns: 40% 60%;
  height: var(--navbar-height);
}
.logo {
  height: clamp(40px, 3vw, 60px);
}
.headText {
  margin: 0;
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: clamp(0.6rem, 1.5vw, 1.3rem);
}
.head,
.links {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.head {
  border-right: 1px solid darkgray;
}
.links > h3 {
  cursor: pointer;
}
