.main {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.charts {
  position: absolute; /* Make sure it moves freely */
  background-color: var(--dark-background);
  border: 1px solid var(--light-background);
  border-radius: 15px;
  height: clamp(380px, 100%, 600px);
  width: clamp(250px, 98vw, 1000px);
  display: grid;
  grid-template-rows: auto 90%;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  border-bottom: 1px solid var(--light-background);
}
.chart {
  display: grid;
  grid-template-columns: 15% 85%;
}

.chart > select {
  height: 40px;
  width: 90%;
  margin: auto;
  border-radius: 15px;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: clamp(0.5rem, 1.5vw, 1.2rem);
}
.diagram {
  width: 100%;
  height: 100%;
  padding: 0;
  display: grid;
}

/* Drag Handle */
.dragHandle {
  cursor: grab;
  background-color: var(--navbar-light);
  padding: 5px;
  text-align: center;
  user-select: none;
  width: 40px;
}

.dragHandle:active {
  cursor: grabbing;
}

.header {
  font-size: var(--header-font-size);
  text-align: center;
  margin: 0;
  color: var(--navbar-light);
}

.param {
  display: grid;
  color: var(--navbar-light);
  place-content: center;
  font-size: clamp(0.6rem, 2vw, 1.5rem);
}

@media screen and (max-width: 450px) {
  .chart {
    grid-template-columns: 15% 85%;
  }
  .diagram {
    display: flex;
    justify-content: flex-end;
  }
  .diagram > div {
    padding: 0;
    margin: 0;
  }
}

::-webkit-scrollbar {
  width: 2px;
  background-color: var(--light-background);
}
