.main {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.chart {
  position: absolute; /* Make sure it moves freely */
  background-color: var(--dark-background);
  border: 1px solid var(--light-background);
  border-radius: 15px;
  height: clamp(380px, 30vw, 400px);
  width: clamp(280px, 50vw, 700px);
  display: grid;
  grid-template-rows: auto 90%;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

/* Drag Handle */
.dragHandle {
  cursor: grab;
  background-color: var(--navbar-light);
  padding: 5px;
  text-align: center;
  user-select: none;
  width: 40px;
}

.dragHandle:active {
  cursor: grabbing;
}

.header {
  font-size: var(--header-font-size);
  text-align: center;
  margin: 0;
  color: var(--navbar-light);
}

.param {
  display: grid;
  color: var(--navbar-light);
  place-content: center;
  font-size: clamp(0.6rem, 2vw, 1.5rem);
}
