.chart {
  position: fixed;
  z-index: 1000;
  background-color: var(--dark-background);
  border: 1px solid var(--light-background);
  border-radius: 15px;
  height: clamp(300px, 40vw, 500px);
  width: clamp(280px, 70vw, 900px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-rows: 10% 90%;
}
.chart > div,
.header {
  position: relative;
  overflow: visible;
  margin: auto;
  color: var(--navbar-light);
}
