.main {
  position: fixed;
  top: calc(var(--navbar-height) + 0.5vw);
  right: 0.5vw;
  background-color: var(--navbar-dark);
  border-radius: 15px;
  z-index: 1;
}

.toggleWrapper {
  display: flex;
  height: 50px;

  width: var(--sidebar-width);
  border-radius: 15px;
  background-color: var(--navbar-dark);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  box-shadow: 1px 2px;
}

.open,
.close {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  color: antiquewhite;
}

.icon {
  width: clamp(20px, 5vw, 50px);
  height: clamp(20px, 5vw, 50px);
  cursor: pointer;
  color: antiquewhite;
}
.closeIcon {
  box-shadow: 1px 2px;
}

.content {
  height: var(--bar-height);
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  margin-top: 50px;
}
.closeIcon {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  position: absolute;
  top: 0;
  right: 0;
}

.layers {
  list-style-type: none;
  padding: 0;

  background-color: var(--light-text);

  position: absolute;
  border-right: 1px solid var(--dark-background);
  right: var(--sidebar-width);
  top: var(--navbar-height);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.layers > li {
  position: relative;
  text-transform: capitalize;
  padding: 10px;
  cursor: pointer;
  color: var(--dark-background);
}
.layers > li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%; /* Adjust as needed to control border width */
  height: 1px;
  background-color: var(
    --navbar-dark
  ); /* Use background-color instead of border */
}

.layers > li:hover {
  opacity: 0.7;
}

.icon:hover,
.open:hover,
.close:hover {
  cursor: pointer;
  transform: scale(1.1);
}
