.main {
  position: fixed;
  z-index: 1000000;
  top: calc(var(--navbar-height) + 0.5vw);
  right: 0.5vw;
  background-color: var(--navbar-light);
  border-radius: 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: var(--bar-height);
  width: var(--sidebar-width);
}

.icon {
  width: clamp(40px, 5vw, 80px);
  cursor: pointer;
}
.icon:hover {
  transform: scale(1.1);
}

.layers {
  list-style-type: none;
  padding: 0;

  background-color: var(--navbar-light);
  position: absolute;
  border-radius: 15px;
  right: var(--sidebar-width);
}
.layers > li {
  text-transform: capitalize;
  padding: 10px;
  border-bottom: 1px solid var(--navbar-dark);
}
.layers > li:hover {
  cursor: pointer;
  opacity: 0.5;
}
