.main {
  position: fixed;

  top: calc(var(--navbar-height) + 0.5vw);
  right: 0.5vw;
  background-color: var(--navbar-light);
  border-radius: 15px;
}

.toggleWrapper {
  display: flex;
  height: 50px;
  width: var(--sidebar-width);
  border-radius: 15px;
  background-color: var(--navbar-light);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.open,
.close {
  width: 40px;
  height: 20px;
  padding: 0;
  margin: 0;
}

.icon {
  width: clamp(20px, 5vw, 50px);
  height: clamp(20px, 5vw, 50px);
  cursor: pointer;
}

.content {
  height: var(--bar-height);
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  margin-top: 50px;
}
.closeIcon {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--navbar-light);
}

.layers {
  list-style-type: none;
  padding: 0;

  background-color: var(--navbar-light);
  position: absolute;

  right: var(--sidebar-width);
}

.layers > li {
  text-transform: capitalize;
  padding: 10px;
  border-bottom: 1px solid var(--navbar-dark);
  cursor: pointer;
}

.layers > li:hover {
  opacity: 0.5;
}

.icon:hover,
.open:hover,
.close:hover {
  cursor: pointer;
  transform: scale(1.1);
}
