.list {
  background-color: var(--background-color);
  list-style-type: none;
  display: grid;
  height: var(--footer-height);
  grid-template-columns: 30% 40% 30%;
  margin-top: 0;
  color: antiquewhite;
  position: absolute;
  width: 100vw;
  bottom: 0;
  font-size: var(--bar-font-size);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.icon {
  width: clamp(20px, 2vw, 40px);
  height: clamp(20px, 2vw, 40px);
  margin: 0 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: unset;
}
.name {
  margin: 0;
}
.year,
.organisation {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.year > span {
  font-weight: 100;
  font-family: sans-serif;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.address > p {
  padding: 0;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .list {
    grid-template-columns: 48% 48%;
  }
  .year {
    display: none;
  }
  .social {
    justify-content: center;
    align-items: center;
  }
}
