.content {
  max-width: 100%;
}
.header {
  display: grid;
  grid-template-columns: 90% 5%;
  width: 100%;
  
  margin: 0 auto;
  align-items: center;
  height: 45px;
  font-size: clamp(0.7rem, 2vw, 1rem);
  padding: 0;
}
.legend {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 10% 85%;
  gap: 2%;
  align-items: center;
  color: aliceblue;
  margin-top: 5px;
  border-bottom: 1px solid var(--dark-text);
}

.legend > div {
  height:clamp(30px,5vh,60px)
}
.head {
  color: var(--light-text);
  margin: 0 auto;
}
.header > svg {
  fill: var(--light-text);
  cursor: pointer;
  font-size: 1.5rem;
  text-align: right;
}
.layerName {
  text-align: center;
  color: var(--light-text);
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  margin: 0;
  padding: 0;
}
.info {
  color: var(--light-text);
  margin: 10% auto;
  width: 50%;
  text-align: center;
  height: 20px;
}

.layers {
  padding-top: 10px;
  width: 50%;
  margin: auto;
}

.infoText{
  width: 90%;
  margin:20px auto;
  color: var(--light-text);
  text-indent: 10px;
}