.content {
  max-width: 100%;
  height: 99%;
  overflow-y: auto;
}
.header {
  display: grid;
  grid-template-columns: 90% 5%;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  height: 45px;
  font-size: clamp(0.7rem, 2vw, 1rem);
  padding: 0;
}
.legend {
display: flex;
flex-direction: column;
  color: aliceblue;
  margin-top: 5px;

}
.legendItem{
  margin-top: 10px;
    border-bottom: 1px solid var(--dark-text);
  display: grid;
  grid-template-columns: 10% 90%;
  align-items: center;
}

.legendColor{
  width: 60px !important;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
color: var(--dark-text);
font-weight: 900;
margin-left: 10px;
}
.span{
  margin-left: 1vw;
  font-size: clamp(0.9rem,2vw,1.5rem)
  
}
.legendIcon>svg{
  background-color:aliceblue;
}
.header{
  width: 70%;
margin: 20px;
border-bottom: 1px solid var(--light-text);
}




/* INFO */
.head {
  color: var(--light-text);
  margin: 0 auto;
}
.header > svg {
  fill: var(--light-text);
  cursor: pointer;
  font-size: 1.5rem;
  text-align: right;
  
  
}
.layerName {
  text-align: center;
  color: var(--light-text);
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  margin: 0;
  padding: 0;
  border: 1px solid red;
}
.info {
  color: var(--light-text);
  margin: 10% auto;
  width: 50%;
  text-align: center;
  height: 20px;
}

.layers {
  padding-top: 10px;
  width: 50%;
  margin: auto;
}

.infoText{
  width: 90%;
  margin:20px auto;
  color: var(--light-text);
  text-indent: 10px;
}

