:root {
  --background-color: #2f3c49;
  --dark-background: #2f3d48;
  --light-background: #495e71;
  --foreground-color: #035a4e;
  --navbar-light: #d8d8d8;
  --navbar-dark: #236570;
  --navbar-dark-transparent: #2a7380;
  --navbar: #cedee0;
  --dark-text: #062906;
  --light-text: #cde7e1;
  --header-font-size: clamp(1rem, 4vw, 2rem);
  --bar-font-size: clamp(0.5rem, 1.2vw, 0.9rem);
  --navbar-height: clamp(50px, 5vw, 72px);
  --footer-height: clamp(80px, 10vh, 120px);
  --sidebar-width: clamp(70px, 10vw, 120px);
  --bar-height: clamp(200px, 60vh, 1200px);
}

body {
  padding: 0;
  margin: 0;
}
