.mapHeaders {
  font-size: clamp(0.6rem, 2vw, 1.5rem);
  width: clamp(70px, 25vw, 350px);
  border-radius: 15px;
  min-width: 240px;
  color: var(--dark-background);
  margin: 0.5vw 0 0 0.5vw;
}
.searchBar {
  background-color: whitesmoke;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top: 1px solid var(--dark-background);
  display: flex;
  align-items: flex-start;
}
.searchMap {
  border-radius: 15px;
  outline: none;
  border: none;
  width: 99%;

  height: clamp(50px, 5vh, 80px);
}
.menuIcon {
  height: clamp(50px, 5vh, 80px);
  width: 50px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 1px;
}
.searchMap:focus {
  border: 1px solid goldenrod;
}
.menu {
  display: flex;
  flex-direction: column;
  background-color: var(--light-text);
  border-bottom-right-radius: 15px;
  min-width: 150px;
  height: var(--bar-height);
  overflow-x: hidden;
  overflow-y: auto;
}
.radio {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.header {
  text-align: center;
}
.menu > div {
  position: relative;
  width: 95%;
  margin: 0 auto;

  border-bottom: 1px solid var(--dark-background);
}
