.mapHeaders {
  font-size: clamp(0.6rem, 2vw, 1.5rem);
  border-radius: 15px;
  background-color: var(--navbar-dark);
  color: antiquewhite;
  margin: 0.5vw 0 0 0.5vw;
  display: flex;
  justify-content: space-between;
  width: auto;
  height: var(--bar-height);
}
.head {
  margin: 0;
  padding: 0;
}
.menu {
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 15px;

  min-width: 260px;

  overflow-x: hidden;
  overflow-y: auto;
}
.menu > div > div > label > span {
  font-weight: 900;
}
.radio {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.header {
  text-align: center;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;

  justify-content: center;
  align-items: center;
}
.mapTypes {
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 10%;
  margin-top: 10%;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid red;
}
.mapTypes > :nth-last-child(1):nth-child(odd) {
  grid-column: 1 / -1;
  justify-self: center;
}
.type {
  border-bottom: 1px solid var(--light-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  cursor: pointer;
  margin-top: 1vh;
}
.typeIcon {
  height: clamp(30px, 5vw, 80px);
  width: clamp(30px, 5vw, 80px);
}
.typeName {
  margin: 0;
  padding: 2px;
}
.type:hover {
  transform: scale(1.1);
}

.arrows {
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  background-color: var(--navbar-dark);
}
.arrows:hover {
  background-color: var(--navbar-dark-transparent);
}

.backButton {
  color: aliceblue;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: unset;
}
.backButton > svg {
  height: 30px;
  width: 30px;
}
.backButton:hover {
  opacity: 0.7;
}
