.mapHeaders {
  font-size: clamp(0.6rem, 2vw, 1.5rem);
  border-radius: 15px;
  background-color: var(--navbar-dark);
  margin: 0.5vw 0 0 0.5vw;
  color: var(--light-text);
  display: flex;
  justify-content: space-between;
  width: auto;
  box-shadow: 1px 1px black;
  height: var(--bar-height);
  font-weight: 900;
}
.head {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: clamp(0.7rem, 2vw, 1.2rem);
}
.header {
  text-align: center;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.menu {
  display: flex;
  flex-direction: column;
  border-bottom-right-radius: 15px;
  min-width: 260px;
  overflow: hidden;
}

.category {
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 10%;
  margin-top: 10%;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
}
.category > :nth-last-child(1):nth-child(odd) {
  grid-column: 1 / -1;
  justify-self: center;
}
.list {
  height: 90%;
  margin-top: 10%;
  margin-left: 10px;
  border-radius: 15px;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  margin-bottom: 10px;
  background-color: var(--navbar-dark-transparent);
}
.list > div {
  margin-left: 10px;
}
.type {
  border-bottom: 1px solid var(--light-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  cursor: pointer;
  margin-top: 1vh;
}

.typeIcon {
  height: clamp(30px, 5vw, 80px);
  width: clamp(30px, 5vw, 80px);
}
.typeName {
  margin: 0;
  padding: 2px;
}
.type:hover {
  transform: scale(0.9);
}

.leftArrow,
.rightArrow {
  height: 20%;
  margin: auto;
  display: flex;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  border-left: 1px solid rgb(182, 165, 165);
  background-color: var(--navbar-dark);
}
.rightArrow {
  height: 100%;
}
.leftArrow:hover,
.rightArrow:hover {
  transform: scale(0.9);
  background-color: var(--navbar-dark-transparent);
}
.leftArrow > svg,
.rightArrow > svg {
  height: 40px;
  width: 40px;
}

.backButton {
  color: aliceblue;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: unset;
}
.backButton > svg {
  height: 30px;
  width: 30px;
}
.backButton:hover {
  opacity: 0.7;
}





/* MAPLIST */
.groupTitle{
  margin: 5px;
  width: 100;
  display: block;
  
}
.group{
  border-bottom: 1px solid var(--light-text);
}