.wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  overflow: hidden;
  
}

.wrapper > * {
  min-height: 0; /* 🔑 THIS FIXES SCROLL */
}

.chart {
  height: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  overflow: hidden;
}

.diagram {
  height: 100%;
  min-height: 0;
  
}

.chartArea {
  height: 100%;
  min-height: 0;
  
}

.legendScroll {
  overflow-y: auto;

  scrollbar-width: 1px;
}

.listItem {
  margin-top: 10px;
  font-size: 12px;
}

::-webkit-scrollbar {
  width: 3px;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: black;
}

.chart{
  display: grid;
  flex-direction: column;
  grid-template-columns: 30% 70%;
}
.head{
  margin-top: 20px;
  
}