.main {
  position: fixed;
  z-index: -1;
  top: 15vh;
  right: 10vw;
  height: 70vh;
  width: 80vw;
  background-color: var(--dark-background);
  border: 1px solid var(--light-background);
  display: grid;
  grid-template-rows: auto 90%;
  border-radius: 15px;
  cursor: all-scroll;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  border-bottom: 1px solid var(--light-background);
}
.chart {
  border-radius: inherit;
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.chart > select {
  height: 40px;
  width: clamp(70px, 15vw, 200px);

  border-radius: 15px;
  border: none;
  outline: none;
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: clamp(0.5rem, 1.5vw, 1.2rem);
  cursor: pointer;
}
.diagram {
  width: 100%;
  height: 100%;
  padding: 0;
}
.diagram > div {
  width: 100%;
  height: 100%;
  margin: 5px;
}

/* Drag Handle */
.dragHandle {
  cursor: grab;
  background-color: var(--navbar-light);
  padding: 5px;
  text-align: center;
  user-select: none;
  width: 40px;
}

.dragHandle:active {
  cursor: grabbing;
}

.header {
  font-size: var(--header-font-size);
  text-align: center;
  margin: 0;
  color: var(--navbar-light);
}

.param {
  display: grid;
  color: var(--navbar-light);
  place-content: center;
  font-size: clamp(0.6rem, 2vw, 1.5rem);
  margin: auto;
}

@media screen and (max-width: 450px) {
  .chart {
    grid-template-columns: 15% 85%;
  }
  .diagram {
    display: flex;
    justify-content: flex-end;
  }
  .diagram > div {
    padding: 0;
    margin: 0;
  }
}

::-webkit-scrollbar {
  width: 2px;
  background-color: var(--light-background);
}
