.chart {
  border-radius: inherit;
  height: 98%;
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
}

.chart > div {
  font-weight: 900;
  font-size: clamp(0.7rem, 1vw, 1rem);
  cursor: pointer;
}
.diagram {
  width: 100%;
  height: 100%;
  padding: 0;
}

.param {
  display: grid;
  color: var(--navbar-light);
  place-content: center;
  font-size: clamp(0.6rem, 2vw, 1.5rem);
  margin: auto;
}

@media screen and (max-width: 450px) {
  .chart {
    grid-template-columns: 15% 85%;
  }
  .diagram {
    display: flex;
    justify-content: flex-end;
  }
  .diagram > div {
    padding: 0;
    margin: 0;
  }
}

::-webkit-scrollbar {
  width: 2px;
  background-color: var(--light-background);
}
