.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
  min-height: 58vh;
  align-items: center;
}

.wrapper > * {
  min-height: 0; /* 🔑 THIS FIXES SCROLL */
}
  /*  */
.chart {
  overflow: auto;
  display: flex;
  flex-direction: column;
}


.diagram {
  height: 100%;
  min-height: 0;
}


.chartArea {
  min-height: 0;
  height: 99%;
}

.legendScroll {
  overflow-y: auto;

  scrollbar-width: 1px;
}

.listItem {
  margin-top: 10px;
  font-size: 12px;
  
}

::-webkit-scrollbar {
  width: 3px;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  width: 3px;
  background-color: black;
}

.head {
  margin-top: 5px;
}

/* || FARMING CHART */
.farming,.marital {
  margin-top: 10px;
  text-align: center;
  color: var(--light-text);
}

.select{
max-width: 40vw;
}
.select > div {
  border-bottom: 1px solid var(--dark-text);
  font-size: 0.9rem;
  text-wrap: wrap;
  height: auto;
  background-color: var(--light-text);
font-weight: 900;

 
}
.pies,.maritalPies {
  display: flex;
 flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.pie{
  width: 25%;
  margin: 0;
  padding: 0;
  gap: 0;
  margin-top: 20px;
  font-weight: 900;
}
.maritalPie{
  width: 30%;
  margin: 0;
  padding: 0;
  gap: 0;
  margin-top: 20px;
}
.farmHeader{
  text-align: center;
  margin: 0;
  padding:4px;
  
}
.cell{
  height: 220px;
}
.cell>div>div>div>ul{
  font-size: 0.6rem;
}
