.box > div {
  display: grid;
  grid-template-columns: 85% 13%;
  padding: 2px 0;
}
.accordion {
  background-color: none;
}
.accordion > div {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: antiquewhite;
}
.lineSlider > label > h6 {
  padding: 0;
  margin: 0;
}
.details {
  position: fixed;
  z-index: -1;
  width: 200px;
  background-color: var(--light-text);
  border-radius: 15px;
  margin-left: 20px;
}
.expand {
  width: 50px;
  height: 40px;
}
@media screen and (max-width: 600px) {
  .details {
    margin-left: -200px;
    margin-top: 25px;
  }
}
