.box > div {
  display: grid;
  grid-template-columns: 85% 13%;
  padding: 2px 0;
}
.accordion {
  background-color: none;
}
.accordion > div {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.lineSlider > label > h6 {
  padding: 0;
  margin: 0;
}

.details {
  position: fixed;
  z-index: 2;

  width: 250px;
  background-color: var(--light-text);
}

.expand {
  width: 50px;
  height: 40px;
}
